.container-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 40px;
}

.container-home-section {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1450px) {
  .container-home-section {
    width: 80%;
  }
}

@media (max-width: 1250px) {
  .container-home-section {
    width: 95%;
  }
}
